.loading {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto; }

.loading__circle {
  border-radius: 50%;
  background-color: white;
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  z-index: 1; }

.loading__circle:nth-child(1) {
  top: 30px;
  left: 30px;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-name: upup;
  animation-name: upup;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: -125ms;
  animation-delay: -125ms; }

.loading__circle:nth-child(2) {
  top: 16px;
  left: 36px;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-name: upup;
  animation-name: upup;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: -250ms;
  animation-delay: -250ms; }

.loading__circle:nth-child(3) {
  top: 2px;
  left: 30px;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-name: upup;
  animation-name: upup;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: -375ms;
  animation-delay: -375ms; }

.loading__circle:nth-child(4) {
  top: -4px;
  left: 16px;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-name: upup;
  animation-name: upup;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: -500ms;
  animation-delay: -500ms; }

.loading__circle:nth-child(5) {
  top: 2px;
  left: 2px;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-name: upup;
  animation-name: upup;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: -625ms;
  animation-delay: -625ms; }

.loading__circle:nth-child(6) {
  top: 16px;
  left: -4px;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-name: upup;
  animation-name: upup;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: -750ms;
  animation-delay: -750ms; }

.loading__circle:nth-child(7) {
  top: 30px;
  left: 2px;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-name: upup;
  animation-name: upup;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: -875ms;
  animation-delay: -875ms; }

.loading__circle:nth-child(8) {
  top: 36px;
  left: 16px;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-name: upup;
  animation-name: upup;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: -1000ms;
  animation-delay: -1000ms; }

@-webkit-keyframes upup {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 1; }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 1; } }

@keyframes upup {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 1; }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 1; } }



/*# sourceMappingURL=_loading.css.map */