.personal {
    height: calc(100vh - 75px);
    background: url('../img/bg1.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 75px);
    @media screen and (max-width: 767px) {
        background: url(../img/bg1_m.jpg) center top no-repeat;
        background-size: cover;
    }
    .userBox {
        position: absolute;
        z-index: 2;
        font-size: 2.8rem;
        font-weight: bold;
        @include m-767 {
            font-size: 1.8rem;
        }
        span {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .photo {
        @include cir(70px);
        background: $blue;
        border: 2px solid white;
        margin-right: 10px;
        @include m-767 {
            width: 40px;
            height: 40px;
        }
    }
}