.privacy {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 767px) {
        overflow-y: scroll;
    }
    .bg {
        position: fixed;
        z-index: 10;
        background: rgba($color: #000000, $alpha: 0.8);
        @extend %all-100;
    }
    .content {
        width: 100%;
        max-width: 650px;
        background: $blue;
        border-radius: 10px;
        padding: 40px;
        position: relative;
        z-index: 11;
        @media screen and (min-width: 768px) {
            @include pos-mid;
        }
        @media screen and (max-height: 750px) {
            max-width: 750px;
            padding: 30px;
        }
        @media screen and (max-width: 767px) {
            max-width: 100%;
            border-radius: 0;
            height: auto;
            overflow: scroll;
        }
    }
    h3 {
        margin-bottom: 20px;
    }
    ul {
        padding-left: 15px;
    }
    li {
        font-size: 1.6rem;
        @extend %txt_justify;
        margin-bottom: 10px;
        list-style-type: disc;
    }
}

.closeBtn {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: all .2s ease;
    @media screen and (max-width: 767px) {
        position: fixed;
        right: 10px;
        top: 10px;
    }
    .inner {
        top: 0;
        left: 0;
        @extend %all-100;
    }
    span {
        width: 30px;
        height: 2px;
        border-radius: 2px;
        background: white;
        display: inline-block;
        position: absolute;
        transform: rotate(45deg);
        top: 0;
        left: 0;
        margin-top: 15px;
        &:last-child {
            transform: rotate(-45deg);
        }
    }
    &:hover {
        @media screen and (min-width: 1025px) {
            transform: rotate(180deg);
        }
    }
}