meta(charset = 'UTF-8') 
meta(http - equiv = 'x-ua-compatible', content = 'ie=edge') 
title WildAid－無翅聯盟
// facebook share
meta(property = 'og:type', content = 'website') 
meta(property = 'og:title', content = '') 
meta(property = 'og:description', content = '') 
meta(property = 'og:image', content = '') 
meta(property = 'og:site_name', content = '') 
meta(property = 'og:url', content = '') 
meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')

// favicon
link(rel = 'icon', href = 'img/favicon.ico')
// css style
link(rel = 'stylesheet', href = 'css/style.css')
//if gt IE 9
script(src = 'js/vendor/html5shiv.js')
script(src = 'js/vendor/jquery-3.2.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js')
script(src='js/background.js')
script(src='js/vendor/jquery.plate.js')
