.menuBox(style="display:none")
  ul
    li
      a.active(href="#") 關於無翅宣言
    li
      a(href="#") 加入宣言
    li
      a(href="#") 宣言英雄榜
    li
      a(href="#") 
        span.icon-video
        | 護鯊短片
    li
      a(href="#")
        span.icon-home
      a(href="#")
        span.icon-fb
      a(href="#")
        span.icon-yt
    li.lang
      a(href="#") 中
      span /
      a(href="#") 英
       
