//- svg
mixin svg(name)
	-var path = "asset/svg/"
	-var file = ".svg"
	img(src=path + name + file, alt="")

//- img
mixin png(name)
	-var path = "img/"
	-var file = ".png"
	img(src=path + name + file, alt="")

//- jpg
mixin jpg(name)
	-var path = "img/"
	-var file = ".jpg"
	img(src=path + name + file, alt="")
