.privacy(style="display:none")
    .content
        a.closeBtn(href="#")
            .inner
                span
                span
        h2 隱私政策
        h3 Privacy Policy
        ul
            li WildAid野生救援是本網站的所有者，WildAid野生救援有權隨時更改、修訂或收回本網站的內容，還有權隨時更改或收回用戶或其他訪問者訪問本網站的權利。
            li 我們在事先通知或不通知的情況下，將通過更新本頁內容來隨時更改本網站的“隱私政策”，請定時查看本頁面了解更新內容。您對附帶了更新內容的本網站繼續進行訪問或使用，即表示您同意該更新內容。
            li 本網站不收集任何用戶或其他訪問者的個人訊息。
            li 本網站所使用的全部圖像及影片文件的版權均歸WildAid野生救援所有，未經授權任何公司或個人不可下載或轉載本網站內容用做任何商業用途。如有任何相關版權問題，請與WildAid野生救援聯繫。
            li 本網站載有本網站服務以外的其他網站的連結，本網站載有的一切第三方網站連結僅僅作為向您提供的方便連結。但是對於第三方網站上的全部內容或者其他資料、該網站的使用，以及通過該網站做廣告或銷售的任何產品和服務等相關事實，我們均從未以任何方式簽署或同意承擔任何相關的法律責任。在任何情況下，我們對因訪問或使用本網站或任何與本網站連結的第三方網站造成的任何損失， 均不負任何責任。
            li 若您對於我們的隱私政策方面有任何疑問，請聯繫我們。
    .bg